{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% if taxon.imagesByType('banner') is not empty %}
    {% set path = taxon.imagesByType('banner').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
{% elseif taxon.images.first is not empty %}
    {% set path = taxon.images.first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
{% else %}
    {% set path = '' %}
{% endif %}

<div class="taxon-header" style="background-image: url('{{ path }}')">
    <div class="taxon-header-overlay"></div>
    <div class="container">
        {{ headers.default(taxon.name, '', taxon.description) }}
    </div>
</div>
